body{
    background-color: black;
    display: flex;
    }


h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    width: 600px;    
    height: 300px;
    text-align: center;
    background-color: aquamarine;
    border-color: darkblue;
    border-radius: 5px;
}

